*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
width: 100%;
height: 100%;
}

main{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 1;
    transition: all linear 0.1s;
}
main h1{
    color: whitesmoke;
    font-size: 10rem;
    position: absolute;
}
main p{
    margin-top: 200px;
    font-size: 2rem;
    color: whitesmoke;
    /* position: absolute; */
    bottom: 40%;
}

  




